<h2>Perceptron</h2>
<section>
    <h3>Notes</h3>
    <div class = "notes">
        <a href="">Note 1</a>
        <a href="">Note 2</a>
        <a href="">Note 3</a>
        <form action="">
            <label for="">New note</label>
            <input type="text">
            <button>Add</button>
        </form>
    </div>
    <h3>Code Examples</h3>
    <div class = "notes">
        <a href="">Code 1</a>
        <a href="">Code 2</a>
        <a href="">Code 3</a>
        <form action="">
            <label for="">New code</label>
            <input type="text">
            <button>Add</button>
        </form>
    </div>
</section>
<section></section>