body{
    background-color: darkslateblue;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

form{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.shape{
    background: linear-gradient(45deg, deeppink, orange);
    height: 60px;
    width: 60px;
}