
body{
  background-color: rgb(93, 85, 140);
}

header{
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

section{
    background-color: darkslategray;
    height: 600px;
    width: 70%;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}

nav{
  display: flex;
  flex-direction: row;
}

.content header{
  padding: 15px 25px;
  border-bottom: 1px solid #ccc;
}
.content header p{
  font-size: 20px;
  font-weight: 500;
}
.content header i{
  color: #8b8989;
  cursor: pointer;
  font-size: 23px;
}
.content form{
  margin: 15px 25px 35px;
}
.content form .row{
  margin-bottom: 20px;
}
form .row label{
  font-size: 18px;
  display: block;
  margin-bottom: 6px;
}
form :where(input, textarea){
  height: 50px;
  width: 70%;
  outline: none;
  font-size: 17px;
  padding: 0 15px;
  border-radius: 4px;
  border: 1px solid #999;
}
form :where(input, textarea):focus{
  box-shadow: 0 2px 4px rgba(0,0,0,0.11);
}
form .row textarea{
  height: 150px;
  resize: none;
  padding: 8px 15px;
}
form button{
  width: 80px;
  height: 30px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 17px;
  border-radius: 4px;
  background: #6A93F8;
}

.axis {
    --c: 10;
    --cx: 5;
    --cy: 5;
    --dsize: 10;
    --dcolor: #369;
    --size: 100%;
    position: relative;
    width: var(--size);
    height: 0;
    padding-top: var(--size);
    box-sizing: border-box;
    aspect-ratio: 1/1;
    background-image:
      linear-gradient(#0000 calc(var(--cy) * 100% / var(--c) - 1px), #0008 0 calc(var(--cy) * 100% / var(--c) + 1px), transparent 0),
      linear-gradient(to right, #0000 calc(var(--cx) * 100% / var(--c) - 1px), #0008 0 calc(var(--cx) * 100% / var(--c) + 1px), transparent 0),
      repeating-linear-gradient(#0002 0 0.5px, #0000 0 calc(100% / var(--c) - 0.5px), #0002 0 calc(100% / var(--c))),
      repeating-linear-gradient(to right, #0002 0 0.5px, #0000 0 calc(100% / var(--c) - 0.5px), #0002 0 calc(100% / var(--c)));
  }
  
  .axis.no-overflow {
    overflow: hidden;
  }
  
  .dot {
    --translationUnit: 100% / var(--c);
    --translationX: var(--translationUnit) * var(--cx);
    --translationY: var(--translationUnit) * var(--cy);
    /* Vertical is "flipped" in CSS: higher values go down! Do negative! */
    --y: calc(var(--translationY) - var(--translationUnit) * var(--function));
    width: calc(var(--dsize) * 1px);
    height: calc(var(--dsize) * 1px);
    background: var(--dcolor);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: calc(var(--translationX) + var(--x) * var(--translationUnit));
    top: var(--y);
  }
  
  /* Demo functions */
  #axis_x-3 {
    --size: 350px;
  }
  #axis_x-3 .dot {
    /**
     * f(x) = x - 3
     *        x = var(--x)
     */
    --function: calc(var(--x) - 3);
  }
  
  
  /* demo - display only */
  html, body {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  article {
    margin: 30px;
  }