.pad{
    height:300px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trunkWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.trunkWrapper div{
    background-color:deepskyblue;
}

.trunk{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.trunk button{
    height: 20px;
    margin-left: 3px;
}

.style1{
    visibility: collapse;
    height: 0px;
    width: 0px;
}
